{% extends "base.html" %}
{% block title %}Contact Me{% endblock title %}

{% block content %}
    <div class="contact-form">
        <div class="row">
            <div class="col-lg">
                <h2>Contact Me</h2>
                <p>Wanna get in touch? Enter your info to send me a message!</p>
                <form action="/contact/" method="POST"> {% csrf_token %}
                    <input name="name" placeholder="Name..." /><br/><br/>
                    <input name="email" type="email" placeholder="Email..." /><br/><br/>
                    <p>Message:</p>
                    <textarea name="message"> </textarea><br/><br/>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}