{% extends "base.html" %}
{% block title %}Contact Me{% endblock title %}

{% block content %}
    <div class="contact-form">
        <div class="row">
            <div class="col-md">
                <h2>Contact Me</h2>
                <form action="/meet-the-chef" method="POST">
                    <input name="name" placeholder="Name" />
                    <input name="email" type="email" placeholder="Email" />
                    <textarea name="message..."> </textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}